<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net48" />
  <package id="FakeItEasy" version="6.0.0" targetFramework="net48" />
  <package id="FakeItEasy.Analyzer.CSharp" version="6.0.0" targetFramework="net48" />
  <package id="MessagePack" version="2.1.90" targetFramework="net48" />
  <package id="MessagePack.Annotations" version="2.1.90" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.4.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.4.280" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.3.14" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.27" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="16.4.29519.181" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Data" version="16.4.280" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="16.4.280" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI" version="16.4.280" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="16.4.280" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="16.5.132" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.5.132" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities" version="16.4.29519.181" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="15.5.31" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.4.57" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Roslynator.Analyzers" version="2.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="StreamJsonRpc" version="2.3.99" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net48" />
  <package id="System.Composition" version="1.4.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="1.4.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="1.4.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="1.4.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="1.4.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="1.4.0" targetFramework="net48" />
  <package id="System.Console" version="4.3.1" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net47" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Pipelines" version="4.7.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="1.8.0" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net47" />
</packages>