root = true

[*.cs]
dotnet_diagnostic.CA1001.severity = Warning
dotnet_diagnostic.CA1009.severity = Warning
dotnet_diagnostic.CA1016.severity = Warning
dotnet_diagnostic.CA1033.severity = Warning
dotnet_diagnostic.CA1049.severity = Warning
dotnet_diagnostic.CA1060.severity = Warning
dotnet_diagnostic.CA1061.severity = Warning
dotnet_diagnostic.CA1063.severity = Warning
dotnet_diagnostic.CA1065.severity = Warning
dotnet_diagnostic.CA1301.severity = Warning
dotnet_diagnostic.CA1400.severity = Warning
dotnet_diagnostic.CA1401.severity = Warning
dotnet_diagnostic.CA1403.severity = Warning
dotnet_diagnostic.CA1404.severity = Warning
dotnet_diagnostic.CA1405.severity = Warning
dotnet_diagnostic.CA1410.severity = Warning
dotnet_diagnostic.CA1415.severity = Warning
dotnet_diagnostic.CA1821.severity = Warning
dotnet_diagnostic.CA1900.severity = Warning
dotnet_diagnostic.CA1901.severity = Warning
dotnet_diagnostic.CA2000.severity = Warning
dotnet_diagnostic.CA2002.severity = Warning
dotnet_diagnostic.CA2100.severity = Warning
dotnet_diagnostic.CA2101.severity = Warning
dotnet_diagnostic.CA2108.severity = Warning
dotnet_diagnostic.CA2111.severity = Warning
dotnet_diagnostic.CA2112.severity = Warning
dotnet_diagnostic.CA2114.severity = Warning
dotnet_diagnostic.CA2116.severity = Warning
dotnet_diagnostic.CA2117.severity = Warning
dotnet_diagnostic.CA2122.severity = Warning
dotnet_diagnostic.CA2123.severity = Warning
dotnet_diagnostic.CA2124.severity = Warning
dotnet_diagnostic.CA2126.severity = Warning
dotnet_diagnostic.CA2131.severity = Warning
dotnet_diagnostic.CA2132.severity = Warning
dotnet_diagnostic.CA2133.severity = Warning
dotnet_diagnostic.CA2134.severity = Warning
dotnet_diagnostic.CA2137.severity = Warning
dotnet_diagnostic.CA2138.severity = Warning
dotnet_diagnostic.CA2140.severity = Warning
dotnet_diagnostic.CA2141.severity = Warning
dotnet_diagnostic.CA2146.severity = Warning
dotnet_diagnostic.CA2147.severity = Warning
dotnet_diagnostic.CA2149.severity = Warning
dotnet_diagnostic.CA2200.severity = Warning
dotnet_diagnostic.CA2202.severity = Warning
dotnet_diagnostic.CA2207.severity = Warning
dotnet_diagnostic.CA2212.severity = Warning
dotnet_diagnostic.CA2213.severity = Warning
dotnet_diagnostic.CA2214.severity = Warning
dotnet_diagnostic.CA2216.severity = Warning
dotnet_diagnostic.CA2220.severity = Warning
dotnet_diagnostic.CA2229.severity = Warning
dotnet_diagnostic.CA2231.severity = Warning
dotnet_diagnostic.CA2232.severity = Warning
dotnet_diagnostic.CA2235.severity = Warning
dotnet_diagnostic.CA2236.severity = Warning
dotnet_diagnostic.CA2237.severity = Warning
dotnet_diagnostic.CA2238.severity = Warning
dotnet_diagnostic.CA2240.severity = Warning
dotnet_diagnostic.CA2241.severity = Warning
dotnet_diagnostic.CA2242.severity = Warning
dotnet_diagnostic.IDE0005.severity = Warning
dotnet_diagnostic.SA0000.severity = Warning
dotnet_diagnostic.SA0001.severity = None
dotnet_diagnostic.SA1101.severity = None
dotnet_diagnostic.SA1200.severity = None
dotnet_diagnostic.SA1309.severity = None
dotnet_diagnostic.SA1413.severity = None
dotnet_diagnostic.SA1600.severity = None
dotnet_diagnostic.SA1601.severity = None
dotnet_diagnostic.SA1611.severity = None
dotnet_diagnostic.SA1615.severity = None
dotnet_diagnostic.SA1623.severity = None
dotnet_diagnostic.SA1633.severity = None
dotnet_diagnostic.SA1634.severity = None
dotnet_diagnostic.SA1635.severity = None
dotnet_diagnostic.SA1636.severity = None
dotnet_diagnostic.SA1637.severity = None
dotnet_diagnostic.SA1638.severity = None
dotnet_diagnostic.SA1640.severity = None
dotnet_diagnostic.SA1641.severity = None
dotnet_diagnostic.SA1652.severity = None
dotnet_diagnostic.SX1101.severity = Warning
dotnet_diagnostic.SX1309.severity = Warning
dotnet_diagnostic.SA1602.severity = None
dotnet_diagnostic.SA1204.severity = None