<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.5.0" targetFramework="net47" />
  <package id="FakeItEasy.Analyzer.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.4.27004" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.2.1" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.2.1" targetFramework="net47" />
  <package id="System.IO" version="4.1.0" targetFramework="net47" />
  <package id="System.Linq" version="4.1.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net47" />
</packages>