<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.4.0" targetFramework="net47" />
  <package id="FakeItEasy.Analyzer.CSharp" version="4.4.0" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.4.27004" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net47" />
  <package id="Roslynator.Analyzers" version="1.7.0" targetFramework="net47" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net47" developmentDependency="true" />
</packages>